/* Global Settings */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root
{
    --background: linear-gradient(to right bottom, #a7b7e4, #4f7ec4, #7a6fdd, #7d3ac5, #9f61d1, #bd53d8);
}

body
{
    background: var(--background) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}
/* Calculator Styling */

.calculator
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 400px;
    height: 60vh;
    border-radius: 20px;
    padding: 5px 10px;
}

.result
{
    height: 20%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    text-align: right;
    padding: 10px;
    color: white;
    font-size: 18px;
    margin: 5px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    user-select: none;
}

.result-end
{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.previous-number
{
    font-size: 18px;
    color: #c5c5c5;
}

.current-number
{
    font-size: 26px;
}

.numbers
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    height: 77%;
}

.numbers button
{   background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;
}

.numbers button:hover
{
    background: rgba(0, 0, 0, 0.7);
}

.equals
{
    grid-row: 4/6;
    grid-column: -2/-1;
}

/* History Styling */

.history
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 180px;
    padding: 5px 10px;
    height: 60vh;
    border-radius: 20px;
}

.history-name
{
    color: white;
    font-weight: bold;
    text-align: center;
    margin:5px 0px 10px 0px;
    font-size: 20px;
    user-select: none;
}

.clear-history
{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 5px 12px;
    font-size: 18px;
    margin: 5px auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease-in-out;
    display: none;
    user-select: none;
}

.clear-history.active
{
    display: block;
}

.clear-history:hover
{
    background: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
}

.history-item
{
    list-style-type: none;
    color: white;
    margin: 10px 0px 15px 0px;
    text-align: center;
    border-bottom: 2px solid white;
    border-radius: 8px;
}

@media only screen and (max-width:650px)
{
    .calculator
    {
        height: 50vh;
        min-width: 300px;
    }

    .history
    {
        height: 50vh;
        width: 150px;
    }

    .history-name
    {
        font-size: 16px;
    }
    
    .clear-history
    {
        font-size: 16px;
    }
    
    .history-item
    {
        font-size: 14px;
    }

    .result, .previous-number, .current-number
    {
        font-size: 16px;
    }
}

@media only screen and (max-width:490px)
{
    .calculator
    {
        height: 40vh;
        min-width: 250px;
    }

    .history
    {
        height: 40vh;
        width: 120px;
    }

    .history-name
    {
        font-size: 12px;
    }
    
    .clear-history
    {
        font-size: 12px;
    }
    
    .history-item
    {
        font-size: 10px;
    }

    .result, .previous-number, .current-number
    {
        font-size: 14px;
    }

    .numbers
    {
        height: 75%;
    }
}

@media only screen and (max-width:420px)
{
    .calculator
    {
        height: 34vh;
        min-width: 210px;
    }

    .history
    {
        height: 34vh;
        width: 110px;
    }

    .history-name
    {
        font-size: 10px;
    }
    
    .clear-history
    {
        font-size: 10px;
    }
    
    .history-item
    {
        font-size: 10px;
    }

    .result, .previous-number, .current-number
    {
        font-size: 12px;
    }
}